/* ==========================================================================
DEPENDENCIES
	--------------------------------------------------------------------------
	_color.scss
	_mixin.scss
	_common.scss


	TABLE OF CONTENT
	--------------------------------------------------------------------------
	01 Global
	02 Layout
	03 Header
	04 Main Navigation
	05 Home Page
	06 Standard
	07 Footer
	08 Components

	00 Imports
================================================== */

@import 'common/mixin';
@import 'common/color';


/* =======================================================================
01 Global
========================================================================== */
$gutter : 20px;

[class^="col-"], [class*=" col-"] { margin-bottom: 0; }

/* =======================================================================
02 Layout
========================================================================== */
.desktop-only { display: block !important; }
.tablet-only { display: none !important; }
.mobile-only { display: none !important; }


/* =======================================================================
03 Header
========================================================================== */
header {
	.top-nav {
		ul { padding-right: 0; }
	}
}


/* =======================================================================
04 Main Navigation
========================================================================== */
#primary-nav {
	ul {
		a:hover { background: lighten( $lightBlue, 10% ); }
	}
}


/* =======================================================================
05 Homepage
========================================================================== */



/* =======================================================================
06 Standard
========================================================================== */



/* =======================================================================
07 Footer
========================================================================== */



/* =======================================================================
08 Components
========================================================================== */



