/* ==========================================================================
DEPENDENCIES
	--------------------------------------------------------------------------
	_color.scss
	_mixin.scss
	_common.scss
	_customBootstrap.scss

	TABLE OF CONTENT
	--------------------------------------------------------------------------
	01 Global
	02 Layout
	03 Header
	04 Main Navigation
	05 Home Page
	06 Standard
	07 Footer
	08 Components

00 Imports
================================================== */
@import 'common/mixin';
@import 'common/color';


/* =======================================================================
01 Global
========================================================================== */
.desktop-only { display: none !important; }
.tablet-only { display: block !important; }
.mobile-only { display: none !important; }

$gutter: 15px;
$colNum: 12;

@for $i from 1 through $colNum {
    .col-#{$i} { width: percentage($i / $colNum); }
}

[class^="col-"],
[class*=" col-"] { float: left; }

img {
	margin: 0 0 10px;
	width: auto;
}

/* =======================================================================
02 Layout
========================================================================== */



/* =======================================================================
03 Header
========================================================================== */



/* =======================================================================
04 Main Navigation
========================================================================== */
#primary-nav {
	@include box-shadow(0, 2px, 5px, 0, rgba(0, 0, 0, 0.26));

	.lvl1 { display: block; }

	.sub-nav,
	.lvl2,
	.lvl3 { display: none; }
}


/* =======================================================================
05 Homepage
========================================================================== */



/* =======================================================================
06 Standard
========================================================================== */



/* =======================================================================
07 Footer
========================================================================== */



/* =======================================================================
08 Components
========================================================================== */



